.bar {
    background-color: #01a6bc;
    color: white;
    margin: 0;
    font-size: 2rem;
    margin: 1vh;
    #dic {
        height: 4vh;
    }
    #text {
        display: inline-block;
        height: 6vh;
        margin: 0;
    }
}
a { text-decoration:none }

#contents {
   
    .title{
       
    }
    .texts{
      
    }

}