body{
    margin: 0;
}
.bar{
    background-color: #01a6bc;
    color: white;
    
    margin: 0;
    font-size: 2rem;
    margin: 1vh;
}
#dic{
    
    
   
    height: 4vh;
}
#text{
    display: inline-block;
    height: 6vh;
    margin: 0;
}
#search_bar{
    margin-left: 30%;
}
#search_input{
    height: 6vh;
    width: 30vw;
    
}
#search_button{
    height: 6.8vh;
}